<html>
    <head>
       <title>{{title}}</title>
    </head>
    <body>
       <div class="entry">
        <h1>{{title}}</h1>
            <ul class="people_list">
              {{#each posts}}
                <li>{{subject}}-{{description}}-{{time}}</li>
              {{/each}}
            </ul>
            </div>
        </div>
    </body>
</html>